@import "tailwindcss";
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #eaebed;
  --foreground: #2e424d;
  --accent: #5b8291;
  --cta: #98dad9;
}

:root.dark,
:root .dark {
  --background: #2e424d;
  --foreground: #ededed;
  --accent: #98dad9;
  --cta: #5b8291;
}

@theme  {
  --color-background-light: #eaebed;
  --color-background-dark: #2e424d;
  --color-primary:#98DAD9;
  --color-secondary:#5B8291;
  --color-accent-light: #5b8291;
  --color-accent-dark: #98dad9;
  --color-text-light: #2E424D;
  --color-text-dark: #eaebed;
  --color-cta-light: #98dad9;
  --color-cta-dark: #5b8291;
  --color-border-light: #d1d5db;
  --color-border-dark: #5B8291;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #3a505b;
  --color-text-secondary-light: #5B8291;
  --color-text-secondary-dark: #b0c1c9;
  --color-card-light: #FFFFFF;
  --color-card-dark: #2E424D;
  --color-accent-1: #5B8291;
  --color-accent-2: #98DAD9;
  --color-primary-text: #2E424D;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
